.margin-left {
  margin-left: 20px;
}
.expand-card {
    width: 600px;
}
.edit-margin {
    margin-left: 800px;
}

.success {
  background-color: aliceblue;
}

.warning {
  background-color: rgb(253, 229, 229);
}