    <mat-card class="cardColor card-size" [ngClass]="{'success' : isEditing == false, 'warning' : isEditing == true}">   
    <td>{{car.id}}</td>
    <td [hidden]="isEditing">{{car.brand}}</td>
    <mat-form-field *ngIf="isEditing">
    <mat-label *ngIf="isEditing">Brand</mat-label>
    <input matInput *ngIf="isEditing" [(ngModel)]="car.brand">
    </mat-form-field>
    <mat-form-field *ngIf="isEditing">
    <mat-label *ngIf="isEditing">Model</mat-label>
    <td [hidden]="isEditing">{{car.model}}</td>
    <input matInput *ngIf="isEditing" [(ngModel)]="car.model">
    </mat-form-field>
    <td>{{car.date | date: 'shortDate'}}</td>

    
    <div class="edit-margin">
    <button type="submit" mat-raised-button color="primary" (click)="enableEdit()" *ngIf="!isEditing">Edit</button>
    </div>


    
    <button type="submit" class="margin-left" mat-raised-button color="accent"*ngIf="isEditing" (click)="cancel()">Cancel</button>
    <button type="submit" class="margin-left" mat-raised-button color="primary"(click)="updateCar(car)" *ngIf="isEditing">Update</button>
    <button type="submit" class="margin-left" mat-raised-button color="warn" (click)="deleteCar(car.id)" *ngIf="isEditing">Delete</button>
    </mat-card>



    
