.margin-left {
  margin-left: 20px;
}
.expand-card {
    width: 600px;
}
.edit-margin {
    margin-left: 800px;
}

.success {
  background-color:white;
}

.warning {
  background-color: rgb(250, 236, 236);
}

.mat-form-field {
  margin-right: 12px;
}