.center {
  margin-left: auto;
  margin-right: auto;
}

.cardColor {
  color: rgb(1, 4, 51);
}
.cursor-pointer {
  cursor: pointer;
}

.expand-card {
  width: 900px;
}

.center {
  display: flex;
  justify-content: center;
}

.font {
  font-family: Arial, Helvetica, sans-serif;
}

.font-size{
  font-size: larger
}

.card-size{
  height: 50px;
  box-shadow: 1px 1px 2px black;
}

.material-icons{
  font-family: 'Material Icons' !important;
}
.divider{
  width:5px;
  height:auto;
  display:inline-block;
}