<p>
  <mat-toolbar class="cardColor">
    <button mat-icon-button>
      <mat-icon>backup</mat-icon>
    </button>
        <span class="center">Project Cars Application</span>
    <button class="cursor-pointer" mat-raised-button color="primary"  routerLink="/create">Add</button>
  </mat-toolbar>
</p>
<span class="center"> 
  <div class="font font-size">There are {{ cars.length }} cars on the page</div>
</span>
<table class="center">
 
  <tbody>   
    <tr *ngFor="let car of cars; let i = index" >
        <cars-row class="cardColor" [car]="car"></cars-row>
      <!-- //Napravljeno kako bi svaka komponenta unutar imala svoj editing -->
    </tr>
  </tbody>
</table>
