<table class="center">
  <thead>
    <button mat-raised-button color="primary" class="pointer" routerLink="/create">Add car</button>
    <div>There are {{ cars.length }} cars on the page</div>
  </thead>
  <tbody>   
    <tr *ngFor="let car of cars; let i = index">
      <mat-card class="cardColor" *ngIf="!isEditing 'blue' : 'red'">    
        <cars-row class="cardColor" [car]="car"></cars-row>
      </mat-card>
      <!-- //Napravljeno kako bi svaka komponenta unutar imala svoj editing -->
    </tr>
  </tbody>
</table>
