.center {
  margin-left: auto;
  margin-right: auto;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.cursor-pointer
{cursor: pointer;}

.button-right{
  position:absolute;
  top: 10px;
  right:0;
}

.font {
  font-family: "Times New Roman", Times, serif;
}

loading-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 5;
}

.site-container {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  background: #f1f1f1;
  overflow: hidden;
}

  .site-header {
    height: 64px;
  }

  .site-content {
    height: calc(100vh - 65px);
    padding: 0 15px;
    overflow: auto;
  }




